@import "tailwindcss";

#root {
  max-width: 1280px;
  text-align: center;
}

.aurora-container {
  width: 100%;
  height: 100%;
}

.button-primary {
  border: 2px solid black !important;
  background-color: rgb(22, 22, 22);
  color: white !important;
  font-weight: 500;
  border-radius: 10px;
}
.button-primary:hover {
  /* background-color: transparent !important; */
  background-color: rgba(132, 0, 255, 1);
  color: white !important;
  text-decoration: underline;
}

.button-selected {
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid black !important;
  background-color: rgba(132, 0, 255, 1);
  color: white !important;
}
.cesium-viewer-bottom {
  display: none;
}
:root {
  --hue: 27;
  --sat: 69%;
  --white: hsl(0, 0%, 100%);
  --purple-primary: rgba(132, 0, 255, 1);
  --purple-glow: rgba(132, 0, 255, 0.2);
  --purple-border: rgba(132, 0, 255, 0.8);
  --border-color: #392e4e;
  --background-dark: #060010;
  color-scheme: light dark;
}

.card-grid {
  display: grid;
  gap: 0.5em;
  padding: 0.75em;
  width: 90%;
  /* max-width: 70em ; */
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.magic-bento-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: .75em;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background: var(--background-dark);
  font-weight: 300;
  overflow: hidden;
  transition: all 0.3s ease;

  --glow-x: 50%;
  --glow-y: 50%;
  --glow-intensity: 0;
  --glow-radius: 200px;
}
.magic-bento-card:nth-child(1) {

}

.magic-bento-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.magic-bento-card__header,
.magic-bento-card__content {
  display: flex;
  position: relative;
  color: var(--white);
}

.magic-bento-card__header {
  gap: 0.75em;
  justify-content: space-between;
}

.magic-bento-card__content {
  flex-direction: column;
}

.magic-bento-card__label {
  font-size: 16px;
}

.magic-bento-card__title,
.magic-bento-card__description {
  --clamp-title: 1;
  --clamp-desc: 2;
}

.magic-bento-card__title {
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 0.25em;
}

.magic-bento-card__description {
  font-size: 12px;
  line-height: 1.2;
  opacity: 0.9;
}

.magic-bento-card--text-autohide .magic-bento-card__title,
.magic-bento-card--text-autohide .magic-bento-card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.magic-bento-card--text-autohide .magic-bento-card__title {
  -webkit-line-clamp: var(--clamp-title);
  line-clamp: var(--clamp-title);
}

.magic-bento-card--text-autohide .magic-bento-card__description {
  -webkit-line-clamp: var(--clamp-desc);
  line-clamp: var(--clamp-desc);
}

@media (max-width: 599px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px auto;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
  }

  .magic-bento-card {
    width: 100%;
    min-height: 180px;
  }
  .magic-bento-card:nth-child(1) {
    max-width: 100%;
    max-height: 100px;
    grid-column: span 1;
    grid-row: span 1;
  }
  .magic-bento-card:nth-child(2) {
    grid-column: span 1;
    grid-row: span ;
  }
  .magic-bento-card:nth-child(3) {
    min-height: 35em;
    grid-column: span 1;
  }
}

@media (min-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px auto;
    grid-auto-rows: 400px;
  }
  .magic-bento-card:nth-child(1) {
    max-width: 100%;
    grid-column: span 1;
    grid-row: span 2;
  }
  .magic-bento-card:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .magic-bento-card:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px auto;
    grid-auto-rows: 300px;
  }

  .magic-bento-card:nth-child(1) {
    max-width: 100%;
    grid-column: span 2;
    grid-row: span 2;
  }
  .magic-bento-card:nth-child(2) {
    grid-column: span 2;
    grid-row: span ;
  }
  .magic-bento-card:nth-child(3) {
    grid-column: span 4;
    grid-row: span 2;
  }
}

/* Border glow effect */
.magic-bento-card--border-glow::after {
  content: '';
  position: absolute;
  inset: 0;
  padding: 6px;
  background: radial-gradient(
    var(--glow-radius) circle at var(--glow-x) var(--glow-y),
    rgba(132, 0, 255, calc(var(--glow-intensity) * 0.8)) 0%,
    rgba(132, 0, 255, calc(var(--glow-intensity) * 0.4)) 30%,
    transparent 60%
  );
  border-radius: inherit;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.magic-bento-card--border-glow:hover::after {
  opacity: 1;
}

.magic-bento-card--border-glow:hover {
  box-shadow:
    0 4px 20px rgba(46, 24, 78, 0.4),
    0 0 30px var(--purple-glow);
}

.particle-container {
  position: relative;
  overflow: hidden;
}

.particle::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgba(132, 0, 255, 0.2);
  border-radius: 50%;
  z-index: -1;
}

.particle-container:hover {
  box-shadow:
    0 4px 20px rgba(46, 24, 78, 0.2),
    0 0 30px var(--purple-glow);
}

/* Global spotlight styles */
.global-spotlight {
  mix-blend-mode: screen;
  will-change: transform, opacity;
  z-index: 200 !important;
  pointer-events: none;
}

.bento-section {
  position: relative;
  user-select: none;
}

.curved-loop-jacket {
  max-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  overflow: visible;
  display: block;
  font-size: 50px;
  fill: rgb(20,20,20);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  transform: translateY(30px); /* adjust +/- until centered */
}

.shiny-text {
  font-size: 2em;
  background: linear-gradient(
    120deg,
    rgba(20, 20, 20, 1) 40%,      /* base text color */
    rgba(255, 255, 255, 0.85) 50%, /* shine */
    rgba(20, 20, 20, 1) 60%       /* base text color */
  );
  background-size: 200% 100%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* key for Safari/Chrome */
  color: transparent; /* fallback */
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% { background-position: 200% 0%; }
  100% { background-position: -200% 0%; }
}

.shiny-text.disabled {
  animation: none;
}

.api-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@media (max-width: 775px) {
  .api-info {
    flex-direction: column;
  }
  .api-container {
    width: 100%;
  }
}
.glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1.25em;

  /* subtle glass edge */
  box-shadow:
    0 0 0 0.1em rgba(255, 255, 255, 0.3) inset,
    0 8px 32px rgba(0, 0, 0, 0.15);
}

@media (max-width: 640px) {
  .link-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}
.title {
  font-family: "ocean" !important;
}

.standard {
  font-family: "domine";
}