@import "tailwindcss";

#root {
  max-width: 1280px;
  text-align: center;
}

.aurora-container {
  width: 100%;
  height: 100%;
}

.button-primary {
  border: 2px solid black !important;
  background-color: rgb(22, 22, 22);
  color: white !important;
  font-weight: 500;
  border-radius: 10px;
}
.button-primary:hover {
  /* background-color: transparent !important; */
  background-color: rgb(123, 150, 129);
  color: white !important;
  text-decoration: underline;
}
